[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 45454059
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"


[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[deployment]
publicDir = "dist/public"

task = "shell.exec"
args = "npm run dev"
